$font-family_1: Verdana,sans-serif;

* {
  box-sizing: border-box;
}

body {
	font-family: $font-family_1;
	font-size: 0.8em;
}
header {
	border: 1px solid grey;
	margin: 5px;
	padding: 8px;
}
nav {
	border: 1px solid grey;
	margin: 5px;
	padding: 8px;
	ul {
		margin: 0;
		padding: 0;
		li {
			display: inline;
			margin: 5px;
		}
	}
}
section {
	border: 1px solid grey;
	margin: 5px;
	padding: 8px;
}
article {
	border: 1px solid grey;
	margin: 5px;
	padding: 8px;
}
footer {
	border: 1px solid grey;
	margin: 5px;
	padding: 8px;
}
aside {
	float: right;
}
h1 {
	margin-left: 5px;
}
h2 {
	margin-left: 5px;
}
h3 {
	margin-left: 5px;
}
h4 {
	margin-left: 5px;
}
table {
	margin: 5px;
}